$color-main: black;
$color-header: #cde6fd;
$color-highlight: #4287d4;
$color-highlight-strong: #04407C;

$color-bg: #022F56;
$color-content-bg: #f9f9f9;

$color-detail: #acacac;
	

$full-width: 1200px;

@import "parts/_fonts.scss";

@import "breakpoints/_base.scss";

@media screen and (min-width: 900px) {
	@import "breakpoints/_md.scss";
}

@media screen and (min-width: $full-width + 30px) {
	@import "breakpoints/_lg.scss";
}