body {
	margin: 0;
	background: $color-bg url("images/background.jpg") no-repeat fixed center;
	font-family: 'Roboto', sans-serif;
}

p{
	color: $color-main;	
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	margin: 0 0 20px;
}

h1 {
	color: $color-highlight-strong;
	font-size: 2.5em;
}

h2 {
	color: $color-highlight;
	font-size: 30px;
	margin: 40px 0 20px;
	// for some reason it causes wierd issues with images at
	// the start of paragraphes if h2 bottom margin isn't at least 20px
}

header {
	max-width: $full-width;
//	padding: 0 40px;
	height: 100px;
	margin: 20px auto 0;
	
	a {
		color: $color-header;
		text-decoration: none;
	}
	
	h1 {
		float: left;
		margin: 0;
		font-weight: normal;
		font-size: 40px;
		padding: 10px 0 0 0;
	}
	
	nav {
		float: right;
	}
	
	ul {
		display: inline-block;
		margin: 0;
		padding: 15px 20px 20px 0px;
		font-size: 20px;
		list-style: none;
		li {
			display: inline-block;
			margin: none;
			padding: 10px;
		}
	}
}

main {
	background-color: $color-content-bg;
	margin: 0 auto;
	border-radius: 3px;
//	padding: 30px 60px;
	// border: 1px solid #666;

	-webkit-box-shadow: 0px 0px 20px -5px rgba(36,36,36,1);
	-moz-box-shadow: 0px 0px 20px -5px rgba(36,36,36,1);
	box-shadow: 0px 0px 20px -5px rgba(36,36,36,1);
	
}


/***********************
* MAP
************************/

.map, .post-header {
	position: relative;
	margin: 0;
	width: 100%;
//	margin: -30px -60px 10px;
	
	img {
		width: 100%;
		border-top-left-radius: 3px;
		border-top-right-radius: 3px;
		margin-bottom: -5px;
		height: auto;
//		margin-top: -1px;
	}
	.attribution {
		display: block;
		position: absolute;
		bottom: 0;
		right: 0;
		text-decoration: none;
		color: #0E4A78;
		margin: 4px 10px;
		font-size: .9em;
	}
}

.marker {
	position: absolute;
	
	span {
//		color:#1A4BEE;
		color: $color-highlight-strong;
	}
	
	img {
		width: auto;
		margin-right: 3px;
	}
}

.map-area, .post-header {
	margin-bottom: 20px;
	background-color: #eee;
//	background-color: $color-content-bg;
//	background-color: #E5EEFF;
	
	border-bottom: 1px solid $color-detail;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	
	-webkit-box-shadow: 0px 0px 20px -5px rgba(36,36,36,1);
	-moz-box-shadow: 0px 0px 20px -5px rgba(36,36,36,1);
	box-shadow: 0px 0px 20px -5px rgba(36,36,36,1);
	

	
	
///* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#eeeeee+0,e5eeff+16 */
//background: rgb(238,238,238); /* Old browsers */
//background: -moz-linear-gradient(left, rgba(238,238,238,1) 0%, rgba(229,238,255,1) 16%); /* FF3.6-15 */
//background: -webkit-linear-gradient(left, rgba(238,238,238,1) 0%,rgba(229,238,255,1) 16%); /* Chrome10-25,Safari5.1-6 */
//background: linear-gradient(to right, rgba(238,238,238,1) 0%,rgba(229,238,255,1) 16%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
//filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#e5eeff',GradientType=1 ); /* IE6-9 */

	h1 {
		color: $color-highlight-strong;
//		color: $color-highlight;
		position: absolute;
		background: #ADC8FF;
		z-index: 100;
		margin: 0;
		padding: 8px 0 10px 20px;
		border-top-left-radius: 3px;
		
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#adc8ff+0,adc8ff+100&1+0,1+48,0+100 */
		background: -moz-linear-gradient(left,  rgba(173,200,255,1) 0%, rgba(173,200,255,1) 48%, rgba(173,200,255,0) 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(left,  rgba(173,200,255,1) 0%,rgba(173,200,255,1) 48%,rgba(173,200,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to right,  rgba(173,200,255,1) 0%,rgba(173,200,255,1) 48%,rgba(173,200,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#adc8ff', endColorstr='#00adc8ff',GradientType=1 ); /* IE6-9 */


	}
}


/***********************
* SHIPS
************************/

.ship {
	position: relative;
	border-bottom: 1px solid $color-detail;
//	border-top: 1px solid darken($color-detail, 30%);
	padding: 20px 0 25px 20px;
	font-size: 14px;
	
	h2 {
		margin: 0;
		font-size: 20px;
		color: $color-highlight;
	}
	
	a {
		color: $color-highlight;
		text-decoration: none;
	}
	
	p {
		margin: 3px 10px 0 0;
		font-size: 14px;
	}
}



.stream-status {
	position: absolute;
	top: 20px;
	right: 0;
	width: 120px;
	color: $color-detail;
	font-size: 12px;
	
	.status {
		color: $color-main;
	}
	.status.live {
		color: #17ad62;
	}
}

.grid {
	width: 100%;
	// clearfix hack
	overflow: auto;
	zoom: 1;
}

.grid-elem {
	width: 100%;
	float: left;

	a {
		position: relative;
		display: block;
		margin: 20px;
		border: 1px solid $color-detail;
		border-radius: 3px;
		overflow: hidden;
		background-color: #fff;
		text-decoration: none;
		-webkit-box-shadow: 1px 2px 8px 0px rgba(219,219,219,1);
		-moz-box-shadow: 1px 2px 8px 0px rgba(219,219,219,1);
		box-shadow: 1px 2px 8px 0px rgba(219,219,219,1);

		* {
			margin-right: 10px;
			margin-left: 10px;
		}

		h3 {
			height: 40px;
			color: $color-highlight-strong;
		}

		img {
			margin: 0;
			width: 100%;
			height: auto;
		}

		.category {
			color: $color-detail;
		}
	}
}

.text-fade {
    width: 100%;
    height: 80px;
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0;
}


.twitter-timeline {
	-webkit-box-shadow: 1px 2px 8px 0px rgba(219,219,219,1);
	-moz-box-shadow: 1px 2px 8px 0px rgba(219,219,219,1);
	box-shadow: 1px 2px 8px 0px rgba(219,219,219,1);
}

.twitter-container {
	margin: 20px;
	border: 1px solid $color-detail;
	height: 892px;
	border-radius: 3px;
}

/**************************
  SINGLE POSTS 
***************************/

article {
	// position: 
	margin: 60px 50px 0;
	padding: 0 0 120px;
	border-radius: 3px;
	p {
		line-height: 1.5;
	}
}



footer {
	margin: 50px 0 -14px;
	padding: 20px 10px;

	text-align: center;
	background-color: #0C2641;
	font-size: .9em;


/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#08192b+0,0a2138+20 */
background: rgb(8,25,43); /* Old browsers */
background: -moz-linear-gradient(top, rgba(8,25,43,1) 0%, rgba(10,33,56,1) 20%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(8,25,43,1) 0%,rgba(10,33,56,1) 20%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(8,25,43,1) 0%,rgba(10,33,56,1) 20%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#08192b', endColorstr='#0a2138',GradientType=0 ); /* IE6-9 */


/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#292929+0,333333+13,333333+87,292929+100 */
// background: rgb(41,41,41); /* Old browsers */
// background: -moz-linear-gradient(top, rgba(41,41,41,1) 0%, rgba(51,51,51,1) 13%, rgba(51,51,51,1) 87%, rgba(41,41,41,1) 100%); /* FF3.6-15 */
// background: -webkit-linear-gradient(top, rgba(41,41,41,1) 0%,rgba(51,51,51,1) 13%,rgba(51,51,51,1) 87%,rgba(41,41,41,1) 100%); /* Chrome10-25,Safari5.1-6 */
// background: linear-gradient(to bottom, rgba(41,41,41,1) 0%,rgba(51,51,51,1) 13%,rgba(51,51,51,1) 87%,rgba(41,41,41,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
// filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#292929', endColorstr='#292929',GradientType=0 ); /* IE6-9 */
	section {
		p {
			font-size: .9em;
			color: #bbb;

			img {
				margin: 0 3px -3px;
			}
		}
	}

	ul {
		list-style-type: none;
	}

	li {
		display: inline-block;
		margin: 0 20px;
	}

	a {
		color: #ddd;
		text-decoration: none;
	}
}