.grid {
	margin: 20px;
	width: 860px;
}

main {
	max-width: 900px;
}

.grid-elem {
	width: 50%;
	a {
		height: 450px;
		margin: 20px;
		img {
//			height: 200px;
		}
	}
}

.text-fade {
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, transparent),color-stop(1, white));
    background-image: -webkit-linear-gradient(top, rgba(255,255,255,0), white);
    background-image: -moz-linear-gradient(top, rgba(255,255,255,0), white);
    background-image: -ms-linear-gradient(top, rgba(255,255,255,0), white);
    background-image: -o-linear-gradient(top, rgba(255,255,255,0), white);
}

.grid-sidebar {
//	width: 860px;
	width: 80%;
	margin: 40px auto;
}

article {
	margin-left: 120px;
	margin-right: 120px;
}